<!doctype html>
<html>
  <head>
    <link rel="icon" href="https://avatars.githubusercontent.com/u/69230350?v=4">
    <title>X-Abyssinia</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/login_sign_up.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
  </head>
  <body>
    <div class="login">
      
      <h1 class="bold topp left" > $ ./X-Abyssinia.et</h1>
      <form class="login-container">
        <p><input type="text" placeholder="Name" required name="name"></p>
        <p><input type="submit" value="Add User"></p>
      </form>
      <footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
        
        <h4 class="w3-center"><em>Requested from </em></h4>
        <h4 id="usrip">  </h4>
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
        <script src="assets/js/ip.js"> </script>
        
      </footer>
      
    </div>
  </body>
</html>