<!doctype html>
<html>
   <head>
      <link rel="icon" href="https://avatars.githubusercontent.com/u/69230350?v=4">
      <title>X Abyssinia</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="/assets/css/main.css">
      <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?autoload=true&amp;skin=sunburst&amp;lang=css" defer=""></script>
      
   </head>
   <body>
      <h2></h2>
      <!-- heading 1 -->
      <h1 class="bold topp left" > $ ./X-Abyssinia.et</h1>
      <h2>
      <h5 class="w3-center"><em>Requested from </em><h5 id="usrip">  </h5></h5>
      
   
      
      <!-- horizontal rule -->
      <hr>
      <!-- paragraph -->
      
      <br>
      
      <br>
      <p>
         Welcome to <h1 class="keyword bold">X-Abyssinia.</h1>
      </p>
      <br>
    
    
    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
      <script src="/assets/js/ip.js"> </script>
   </div>
</body>
</html>